<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hfk.yadd"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".YetAnotherDrawableDemoActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomDrawableFromXMLActivity">
        </activity>
        <activity android:name="CustomDrawableFromXMLConfigActivity">
        </activity>
        <activity android:name=".CustomDrawableActivity">
        </activity>
        <activity android:name=".CustomDrawableConfigActivity">
        </activity>
        <activity android:name="CustomDrawableMatrixTransformationActivity">
        </activity>
        <activity android:name="CustomDrawableMatrixTransformationConfigActivity">
        </activity>
        <activity android:name="MatrixTransformationTypeSelectorActivity">
        </activity>
        <activity android:name="MatrixTransformationRotateConfigActivity">
        </activity>
        <activity android:name="MatrixTransformationScaleConfigActivity">
        </activity>
        <activity android:name="MatrixTransformationSkewConfigActivity">
        </activity>
        <activity android:name="MatrixTransformationTranslateConfigActivity">
        </activity>
        <activity android:name="CustomDrawableCameraTransformationActivity">
        </activity>
        <activity android:name="CustomDrawableCameraTransformationConfigActivity">
        </activity>
        <activity android:name="CameraTransformationTypeSelectorActivity">
        </activity>
        <activity android:name="CameraTransformationRotateXConfigActivity">
        </activity>
        <activity android:name="CameraTransformationRotateYConfigActivity">
        </activity>
        <activity android:name="CameraTransformationRotateZConfigActivity">
        </activity>
        <activity android:name="CameraTransformationTranslateConfigActivity">
        </activity>

    </application>
</manifest>